<header class="utn-header-main">
  <nav class="main-navigation">
    <div class="container-fluid pe-5 nav-flex">

      <div class="branding-firma" routerLink="/">
        <img src="assets/images/logos/logo-azul.svg" alt="UTN Logo" class="logo-nav">
        <div class="firma-divider"></div>
        <div class="firma-text">
          <span class="u-name">Universidad Técnica Nacional</span>
          <span class="site-name">UTN Maps: Portal de Orientación</span>
        </div>
      </div>

      <ul class="project-menu">
        <li>
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">INICIO</a>
        </li>
        <li>
          <a routerLink="/mapa" routerLinkActive="active">MAPA INTERACTIVO</a>
        </li>
        <li>
          <a routerLink="/carga-datos" routerLinkActive="active">CARGA DE DATOS</a>
        </li>
        <li>
          <a routerLink="/directorio" routerLinkActive="active">DIRECTORIO</a>
        </li>
        <li class="btn-external">
          <a href="https://utn.ac.cr" target="_blank">SITIO WEB OFICIAL</a>
        </li>
      </ul>

    </div>
  </nav>
</header>