.map-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 105px); /* Ajuste de altura */
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* EL PANEL FLOTANTE */
.coords-panel {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 350px;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 9999; /* ¡Muy importante! Siempre encima */
  font-family: sans-serif;

  h3 {
    margin-top: 0;
    color: #00205B;
    font-size: 16px;
    font-weight: bold;
  }

  .instruction {
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
  }

  textarea {
    width: 100%;
    background: #f4f4f4;
    border: 1px solid #ccc;
    font-family: 'Consolas', monospace; /* Fuente de código */
    font-size: 11px;
    color: #333;
    resize: vertical;
    padding: 10px;
    border-radius: 4px;
    outline: none;
  }

  .btn-copy {
    width: 100%;
    margin-top: 10px;
    background-color: #F05E23; /* Naranja UTN */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    transition: background 0.3s;

    &:hover {
      background-color: #d14912;
    }
  }
}